.progress {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
    margin: .5rem 0 1rem 0;
    overflow: hidden;
}
.progress .determinate {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #159b04;
    transition: width .3s linear;
}
#tasks .collection.with-header .progresion {
    padding: 0 24px;
    border-radius: 10px;
    color: white;
    background: linear-gradient(90deg, rgba(16, 43, 87, 0.8403010862548144) 2%, rgba(45, 41, 41, 1) 86%);
    padding-bottom: 0.1px;
}
#tasks .collection.with-header .progresion span.badge {
    position: static;
    float: none;
    margin-left: 0;
}
.secondary-cont {
    color: white;
    margin-left: 437px;
}