/* modo oscuro*/
.theme-light .bg-gray-80 {
  background-color: #1f2937; /* modo Color  oscuro para el tema oscuro */
    color: #ffffff;
    border-color: rgba(31, 41, 55, 1); /* Color del borde en tema oscuro */
  }
  .theme-light .text-white {
    color: #ffffff ;
  }
  /* modo claro*/
  .theme-dark .bg-gray-800 {
    background-color: #ffffffd1;
    border-color: rgba(221, 221, 221, 1); 
  }
  .theme-dark .text-white {
    color: rgb(0, 0, 0);
  }
  .theme-dark .boton{
    color: white;
    background-color: black;
  }
   .theme-dark .bx{
    color: white;
  
  }
  .theme-dark .bz{
    color: rgb(0, 0, 0);
  }
  .sun{
    color: yellow;
  }
  .moon{
    color: white;
  }
  .explorer{
    color: white;
  }