:root {
    --bg-light: #f0f4f8;
    --text-light: #2d3748;
    --bg-dark: #1a202c;
    --text-dark: #e2e8f0;
    --primary-color: #4299e1;
    --secondary-color: #ed8936;
    --sidebar-width: 250px;
    --sidebar-width-collapsed: 80px;
    --transition-speed: 0.3s;
    --bg-color: #ffffff;
    --text-color: #333333;
    --modal-bg: #fefefe;
    --user-message-bg: #e6f2ff;
    --assistant-message-bg: #f0f0f0;
    --button-bg: #007bff;
    --button-hover-bg: #0056b3;
}

.boton_edit{
    position: relative;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    transition: background-color var(--transition-speed), color var(--transition-speed);
    font-size: 16px;
    zoom: 75%;
}

body.dark-mode {
    background-color: var(--bg-dark);
    color: var(--text-dark);
}

body:not(.dark-mode) {
    background-color: var(--bg-light);
    color: var(--text-light);
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: var(--sidebar-width);
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    transition: all var(--transition-speed), width var(--transition-speed);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar.collapsed {
    width: var(--sidebar-width-collapsed);
    padding: 2rem 0.5rem;
}

.dark-mode .sidebar {
    background-color: #1a212e;
}

body:not(.dark-mode) .sidebar {
    background-color: #ffffff;
}

.profile {
    text-align: center;
    margin-bottom: 2rem;
}

.sidebar .profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 3px solid var(--primary-color);
    transition: transform 0.3s ease, width 0.3s, height 0.3s;
}

.sidebar.collapsed .profile-img {
    width: 60px;
    height: 60px;
}

.profile-img:hover {
    transform: scale(1.05);
}

.profile-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color);
}

.sidebar.collapsed .profile-name,
.sidebar.collapsed nav span,
.sidebar.collapsed .sidebar-footer span {
    display: none;
}

.sidebar:not(.collapsed) .profile-name,
.sidebar:not(.collapsed) nav span,
.sidebar:not(.collapsed) .sidebar-footer span {
    display: inline;
}

nav ul {
    list-style-type: none;
}

nav li {
    margin-bottom: 1rem;
}

nav a, .sidebar-footer button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s, transform 0.2s;
    gap:1rem;
}

nav a:hover, .sidebar-footer button:hover {
    background-color: rgba(66, 153, 225, 0.1);
    transform: translateX(5px);
}

nav a i, .sidebar-footer button i {
    margin-right: 1rem;
    color: var(--primary-color);
}

.sidebar-footer button {
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    text-align: left;
}

main {
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 0.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.card, .cards {
    padding: 1.5rem;
    border-radius: 0.75rem;
    margin-bottom: 1.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    padding-bottom: 50px;
    animation: fadeIn 0.5s ease-in-out;
}

.card:hover, .cards:hover {
    transform: translateY(-5px);
}

.dark-mode .card, .dark-mode .cards {
    background-color: #2d3748;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dark-mode .card:hover, .dark-mode .cards:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

body:not(.dark-mode) .card, body:not(.dark-mode) .cards {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body:not(.dark-mode) .card:hover, body:not(.dark-mode) .cards:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.full-width {
    grid-column: 1 / -1;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--secondary-color);
}

.social-links {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.social-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    flex-direction: column;
    transition: color 0.2s;
}

.social-links a:hover {
    color: var(--primary-color);
}

.social-links i {
    margin-right: 0.5rem;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.skill-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.skill-bar {
    height: 0.75rem;
    background-color: #4a5568;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.skill-progress {
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 1s ease-in-out;
}

.edit-title, .edit-percentage {
    font-size: 1rem;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.edit-button, .save-btn, .delete-btn, .btn-3 {
    font-size: 1rem;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    transition: background-color 0.3s;
}

.edit-button {
    background-color: var(--button-bg);
}

.save-btn {
    background-color: #4CAF50;
}

.delete-btn {
    background-color: #f44336;
}

.btn-3 {
    background-color: var(--button-bg);
}

.edit-button:hover, .save-btn:hover, .delete-btn:hover, .btn-3:hover {
    background-color: var(--button-hover-bg);
}

.edit-controls {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.whatsapp-float, .help-float {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
}

.whatsapp-float {
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
}

.help-float {
    bottom: 110px;
    right: 40px;
    background-color: var(--button-bg);
    color: #FFF;
    border: none;
    cursor: pointer;
}

.whatsapp-float:hover, .help-float:hover {
    transform: scale(1.1);
}

.whatsapp-float:hover {
    background-color: #128C7E;
}

.help-float:hover {
    background-color: var(--button-hover-bg);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: var(--modal-bg);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 600px;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s, color 0.3s;
}

.modal-content.ai-dark-mode {
    background-color: #343a40;
    color: #f8f9fa;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
}

.modal-header h2 {
    margin: 0;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover {
    color: #000;
}

.ai-dark-mode .close:hover {
    color: #fff;
}

.theme-toggle {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
    margin-left: 10px;
}

.ai-dark-mode .theme-toggle {
    color: #f8f9fa;
}

#chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

#chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.ai-dark-mode #chat-messages {
    background-color: #495057;
    border-color: #6c757d;
}

.chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    transition: background-color 0.3s, color 0.3s;
}

.user-message {
    background-color: var(--user-message-bg);
    color: var(--text-color);
    align-self: flex-end;
    margin-left: auto;
}

.assistant-message {
    background-color: var(--assistant-message-bg);
    color: var(--text-color);
    align-self: flex-start;
}

.ai-dark-mode .assistant-message {
    background-color: #6c757d;
    color: #f8f9fa;
}

#question-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    overflow-y: auto;
    max-height: 150px;
    padding: 10px 0;
}

.question-button {
    background-color: var(--button-bg);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 0.9rem;
}

.question-button:hover {
    background-color: var(--button-hover-bg);
    transform: scale(1.05);
}

.ai-dark-mode .question-button {
    background-color: #6c757d;
}

.ai-dark-mode .question-button:hover {
    background-color: #5a6268;
}

.config-button,
.add-card-button {
    position: fixed;
    bottom: 20px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
    z-index: 1000;
    transition: background-color 0.3s;
}

.config-button:hover,
.add-card-button:hover {
    background-color: var(--secondary-color);
}

.config-button {
    right: 20px;
}

.add-card-button {
    right: 180px;
}

.edit-mode .card {
    border: 2px dashed var(--primary-color);
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s, transform 0.3s;
    z-index: 1001;
}

.notification.show {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 1920px) and (min-width: 1024px){
    /* Ajusta el diseño de la cuadrícula para que los elementos se adapten mejor */
  .close{
      color: #aaa;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
      transition: color 0.3s;
  
  }
  .close:hover {
      color: #000;
  }
  .grid {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Crea columnas que se ajustan automáticamente */
  }
  .theme-toggle {
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
      transition: color 0.3s;
      margin-left: -344px;
  }
  .educacion{
      margin-right: 979px;
  }
}
@media (max-width: 900px) and (min-width: 768px) {
    /* Ajusta el diseño de la cuadrícula para que los elementos se adapten mejor */
    .sidebar:not(.collapsed) {
        width: var(--sidebar-width-collapsed);
        padding: 2rem 0.5rem;
    }
    
    .sidebar:not(.collapsed) nav span,
    .sidebar:not(.collapsed) .sidebar-footer span {
        display: none;
    }
    .sidebar:not(.collapsed) .profile-img {
        width: 12rem;
        height: 12rem;
        margin-left: 55rem;
    }
    .nombre{
        margin-left:55rem;
    }
    .close{
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.3s;
    
    }
    .close:hover {
        color: #000;
    }
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Crea columnas que se ajustan automáticamente */
    }
    .theme-toggle {
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
        transition: color 0.3s;
        margin-left: -344px;
    }
    .container {
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
    }
    .sidebar .sidebar-footer {
        display: none;
    }
    .sidebar nav ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .sidebar nav li {
        margin-bottom: 0;
    }
    main {
        padding: 1rem;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    h1 {
        font-size: 2rem;
    }
    .edit-controls {
        flex-direction: column;
        align-items: stretch;
    }
    .config-button,
    .add-card-button {
        bottom: 10px;
    }
    .config-button {
        right: 10px;
    }
    .add-card-button {
        right: 120px;
    }
    .whatsapp-float,
    .help-float {
        width: 50px;
        height: 50px;
        font-size: 24px;
    }
    .whatsapp-float {
        bottom: 20px;
        right: 20px;
    }
    .help-float {
        bottom: 80px;
        right: 20px;
    }
}
@media (max-width: 390px) and (max-width: 844px){
    .sidebar:not(.collapsed) {
        width: var(--sidebar-width-collapsed);
        padding: 2rem 0.5rem;
    } 
    .sidebar:not(.collapsed) nav span,
    .sidebar:not(.collapsed) .sidebar-footer span {
        display: none;
    }
    .sidebar:not(.collapsed) .profile-img {
        width: 10rem;
    height: 10rem;
    margin-left: 54rem;
    }
    .nombre{
        margin-left: 53rem;
    }

}
/*Estilos para dispositivos con un ancho máximo de 480px (dispositivos móviles pequeños como teléfonos) */
@media (max-width: 480px) {
    /* Cambia la dirección de los elementos del encabezado del modal a columna */
    .modal-header {
        flex-direction: column;
        align-items: flex-start; /* Alinea los elementos al inicio */
    }

    /* Añade un margen en la parte inferior del título */
    .modal-header h2 {
        margin-bottom: 10px;
    }

    /* Elimina margen izquierdo en el botón de cambio de tema */
    .theme-toggle {
        margin-left: 146px;
        margin-top: -39px;
    }
    .close{
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.3s;
        margin-left: 303px;
        margin-top: -43px;
    }
    .close:hover {
        color: #000;
    }
    /* Permite que los elementos de la lista de navegación se envuelvan */
    .sidebar nav ul {
        flex-wrap: wrap; /* Permite que los elementos se ajusten a múltiples líneas */
    }

    /* Ajusta el tamaño y alineación de los elementos de la lista de navegación */
    .sidebar nav li {
        flex: 1 1 50%; /* Permite que los elementos ocupen el 50% del ancho */
        text-align: center; /* Centra el texto */
    }

    /* Ajusta el diseño de los enlaces sociales */
    .social-links {
        flex-direction: column; /* Cambia a dirección vertical */
    }

    /* Ajusta el tamaño del contenido del modal */
    .modal-content {
        width: 95%; /* Ancho del 95% del contenedor */
        margin: 2% auto; /* Márgenes automático para centrar */
    }

    /* Ajusta el tamaño de los botones de configuración y añadir tarjeta */
    .config-button,
    .add-card-button {
        padding: 8px 15px; /* Ajusta el padding */
        font-size: 0.9rem; /* Tamaño de fuente más pequeño */
    }

    /* Ajusta la posición del botón de añadir tarjeta */
    .add-card-button {
        right: 100px; /* Posicionamiento */
    }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}