*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}


.htm {
  color: black;
}

.imagen {
  width: 100%;
  /* Ajusta al ancho del contenedor */
  max-width: 528px;
  /* Limita el tamaño máximo de la imagen */
  margin-inline-start: 0;
}

.opuesto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  /* Espacio entre la imagen y el texto */
  flex-direction: row-reverse;
  /* Coloca la imagen a la derecha */
  padding: 20px;
}

.sobre {
  text-align: justify;
  margin: 0;
  /* Remueve márgenes grandes */
  padding: 0 20px;
  /* Espacio interno en lugar de margen */
}

.t {
  font-size: 1rem;
  /* Tamaño de fuente adaptable */
}

/* Mantén el diseño normal en PC */
@media (min-width: 1024px) {
  .opuesto {
    flex-direction: row-reverse;
    /* Mantén imagen a la derecha y texto a la izquierda */
  }
  .imagen {
    width: 149rem;
    /* Tamaño más grande en pantallas grandes */
    margin-inline-start: -121px;
    border-radius: 4%;
    box-shadow: 22px 21px 0 -1px #0000004f;
  }
  .sobre {
    text-align: justify;
    margin-left: 123px;
    margin-right: 125px;
  }
  .t {
    font-size: 1.3rem;
    /* Tamaño de fuente adaptable */
  }
  .deslice {
    overflow: hidden;
    padding: 20px;
    position: relative;
  }
  .ul-skills {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 30px;
    animation: move-left 19s linear infinite;
  }
  .ul-skillss {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 30px;
    animation: move-right 19s linear infinite;
  }
  /* Estilo de las imágenes */
  .image-skills {
    max-height: 6rem;
  }
  .image-skillss {
    max-width: 10rem;
    max-height: 5rem;
    margin-top: 4rem;
  }
  /* Animación para mover las imágenes de derecha a izquierda sin pausa */
  @keyframes move-left {
    0% {
      transform: translateX(318%);
      /* Inicia fuera del contenedor a la derecha */
    }

    100% {
      transform: translateX(-128%);
      /* Termina fuera del contenedor a la izquierda */
    }
  }
  /* Animación para mover las imágenes de izquierda a derecha sin pausa */
  @keyframes move-right {
    0% {
      transform: translateX(-128%);
      /* Inicia fuera del contenedor a la izquierda */
    }

    100% {
      transform: translateX(318%);
      /* Termina fuera del contenedor a la derecha */
    }
  }
  /* Contenedor principal de la sección de "features" */
  #features .contenedor {
    transition: transform 0.6s ease-in-out;
  }
  #features .contenedor.scroll-aumentado {
    transform: scale(1.18);
    /* Se agranda un 25% */
  }
  /* Para el contenedor de proyectos */
  #proyect .contenedor_2 {
    transition: transform 0.8s ease-in-out;
  }
  #proyect .contenedor_2.scroll-aumentado_2 {
    transform: scale(1.3);
    /* Agranda un 30% */
  }
}

/* Media queries para dispositivos medianos (tablets) */
@media (max-width: 1024px) {
  .opuesto {
    flex-direction: column-reverse;
    /* Coloca la imagen arriba del texto en tablets */
    text-align: center;
  }
  .imagen {
    width: 80%;
    /* Imagen más pequeña en pantallas medianas */
    max-width: 350px;
    border-radius: 4%;
  }
  .sobre {
    margin: 0;
    padding: 0;
  }
  #features .contenedor.scroll-aumentado {
    transform: scale(1.09);
    transition: transform 0.5s ease-in-out;
  }
  #features .contenedor.scroll-disminuido {
    transform: scale(0.3);
    transition: transform 0.8s ease-in-out;
  }
  #features,#proyect {
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  #features.scroll-entrar,#proyect.scroll-entrar {
    opacity: 1;
    transform: translateY(0);
  }
  #features.scroll-salir,#proyect.scroll-salir {
    opacity: 0.3;
    transform: translateY(50px);
    transition: transform 0.8s ease-in-out;
  }
  #languaje .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas en pantallas grandes */
    gap: 20px;
    align-items: center;
    justify-items: center;
  }
  .len {
    margin-left: -26px;
  }
  .deslice {
    overflow: hidden;
    padding: 20px;
    position: relative;
  }
  .ul-skills {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 30px;
    animation: move-left 14s linear infinite;
  }
  .ul-skillss {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 30px;
    animation: move-right 20s linear infinite;
  }
  /* Estilo de las imágenes */
  .image-skills {
    height: 80px;
  }
  .image-skillss {
    height: 53px;
    /* width: 174px; */
    max-width: 10rem;
  }
  @keyframes move-left {
    0% {
      transform: translateX(318%);
      /* Inicia fuera del contenedor a la derecha */
    }

    100% {
      transform: translateX(-128%);
      /* Termina fuera del contenedor a la izquierda */
    }
  }
  /* Animación para mover las imágenes de izquierda a derecha sin pausa */
  @keyframes move-right {
    0% {
      transform: translateX(-128%);
      /* Inicia fuera del contenedor a la izquierda */
    }
    100% {
      transform: translateX(318%);
      /* Termina fuera del contenedor a la derecha */
    }
  }
}

/* Media queries para dispositivos móviles */
@media (max-width: 640px) {
  .t {
    font-size: 0.9rem;
    /* Tamaño de fuente más pequeño en móviles */
  }

  .imagen {
    width: 100%;
    /* Imagen ocupa todo el ancho en móviles */
    max-width: 300px;
    border-radius: 4%;
  }
}

.debuel_mause1 {
  transition: transform .8s ease-in-out;
}

.debuel_mause2 {
  transition: transform .8s ease-in-out;
}

.debuel_mause1.scroll-aumentado {
  transform: scale(1.1);
  /* Agranda la imagen o texto un 10% al hacer scroll hacia arriba */
}

.debuel_mause2.scroll-aumentado {
  transform: scale(1.1);
  /* Agranda la imagen o texto un 10% al hacer scroll hacia arriba */
}

/* CSS para las imágenes de certificados */
.curso1 {
  transition: transform .3s ease-in-out;
}

.curso2 {
  transition: transform .3s ease-in-out;
}

.hover-aumentado {
  transform: scale(1.3);
  /* Agranda la imagen un 10% al pasar el mouse sobre ella */
}

.hover-aumentados {
  transform: scale(2.1);
  /* Agranda la imagen un 10% al pasar el mouse sobre ella */
}

/* CSS para la animación de scroll solo en features y proyect */
/* Efecto de agrandar al pasar el mouse en los cursos */
/*.curso1:hover, .curso2:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}*/

.pie {
  background-color: #000000d9;
  color: white;
}

.tx {
  margin-top: -42px;

}

.ix {
  color: black;
}

.curso1 {
  width: 141px;
  height: 120px;
}

.sp {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 21ch;
  animation: typing 2s steps(12), blink .5s infinite step-end alternate;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
  .sp {
    font-size: 1.5rem;
    /* Ajusta el tamaño de fuente en pantallas pequeñas */
    width: 20ch;
    /* Reduce el tamaño del ancho para que sea más adaptativo */
    margin-left: 0;
  }
}

.sec_1 {
  background-image: url("../img/red_5.png");
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.sec_1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 18, 18, 0.82);
  z-index: 1;
}

.sec_1>* {
  position: relative;
  z-index: 2;
  color: white;
}

.sec_12 {
  background-image: url("../img/red_3.jpg");
  color: white;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  /* Añadido para que el pseudo-elemento ::before se posicione correctamente */
}

.sec_12::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Asegura que la capa oscura cubra todo el contenedor */
  border-radius: 10px;
  /* Igual al border-radius del contenedor para mantener un estilo consistente */
  background: rgba(18, 18, 18, 0.84);
  /* Capa oscura semitransparente */
  z-index: 1;
  /* Asegura que esté sobre el fondo pero debajo del contenido */
}

.sec_12>* {
  position: relative;
  z-index: 2;
  /* Asegura que el contenido esté por encima de la capa oscura */
  color: white;
  /* Para que el texto sea visible */
}

.sec_13 {
  background-color: black;
  color: white;
  border-radius: 5px;
  background-size: cover;
  /* La imagen se ajusta al tamaño del contenedor */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
  background-position: center;
  /* Centra la imagen en el contenedor */
  position: relative;
  /* Necesario para posicionar el pseudo-elemento correctamente */
}

.sec_13::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Se adapta al tamaño total del contenedor */
  border-radius: 5px;
  /* Asegura que tenga el mismo radio de borde */
  background: rgba(18, 18, 18, 0.84);
  /* Capa oscura semitransparente */
  z-index: 1;
  /* Asegura que esté sobre el fondo pero debajo del contenido */
}

.sec_13>* {
  position: relative;
  z-index: 2;
  /* Asegura que el contenido esté por encima de la capa oscura */
  color: white;
  /* Para que el texto sea visible */
}

.p {
  position: relative;
}

.bu {
  background-color: rgb(255, 252, 252);
  color: rgb(0, 0, 0);
}

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr:where([title]) {
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

button,
select {
  text-transform: none;
}

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;

  background-color: transparent;

  background-image: none;

}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;

  outline-offset: -2px;

}


::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;

  font: inherit;

}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.pointer-events-none {
  pointer-events: none;
}

.relative {
  position: relative;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

.h-10 {
  height: 2.5rem;
}

.h-6 {
  height: 1.5rem;
}

.h-8 {
  height: 2rem;
}

.h-full {
  height: 100%;
}

.min-h-\[100dvh\] {
  min-height: 100dvh;
}

.min-h-\[80px\] {
  min-height: 80px;
}

.w-10 {
  width: 2.5rem;
}

.w-6 {
  width: 1.5rem;
}

.w-8 {
  width: 4rem;
}

.w-full {
  width: 100%;
}

.max-w-4xl {
  max-width: 56rem;
}

.flex-1 {
  flex: 1 1 0%;
}

.shrink-0 {
  flex-shrink: 0;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.space-y-12> :not([hidden])~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3rem * var(--tw-space-y-reverse));
}

.space-y-4> :not([hidden])~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.space-y-6> :not([hidden])~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.overflow-hidden {
  overflow: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-md {
  border-radius: 0.375rem;
}

.border {
  border-width: 1px;
}

.border-0 {
  border-width: 0px;
}

.bg-transparent {
  background-color: transparent;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
  color: white;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.text-center {
  text-align: center;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 0.25rem;
}

.text-4xl {
  font-size: 2.0rem;
  line-height: 2.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.underline {
  text-decoration-line: underline;
}

.underline-offset-4 {
  text-underline-offset: 4px;
}

.opacity-50 {
  opacity: 0.5;
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.ring-2 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.ring-offset-2 {
  --tw-ring-offset-width: 2px;
}

.sepia {
  --tw-sepia: sepia(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.file\:border-0::file-selector-button {
  border-width: 0px;
}

.file\:bg-transparent::file-selector-button {
  background-color: transparent;
}

.file\:text-sm::file-selector-button {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.file\:font-medium::file-selector-button {
  font-weight: 500;
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-offset-2:focus {
  --tw-ring-offset-width: 2px;
}

.focus-visible\:outline-none:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus-visible\:ring-2:focus-visible {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus-visible\:ring-offset-2:focus-visible {
  --tw-ring-offset-width: 2px;
}

.disabled\:pointer-events-none:disabled {
  pointer-events: none;
}

.disabled\:cursor-not-allowed:disabled {
  cursor: not-allowed;
}

.disabled\:opacity-50:disabled {
  opacity: 0.5;
}

@media (min-width: 768px) {
  .md\:flex {
    display: flex;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}