/* Estilos para el sidebar expandido y contraído */
#sidebar {
  width: 80px;
  transition: width 0.3s ease-in-out;
}

#sidebar.expanded {
  width: 250px;
}

#sidebar .sidebar-text {
  display: none;
  margin-left: 10px;
}

#sidebar.expanded .sidebar-text {
  display: inline;
}

#sidebar .sidebar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  transition: padding 0.3s ease-in-out;
}

#sidebar.expanded .sidebar-button {
  justify-content: center;
}

#main-content {
  padding-left: 50px;
  transition: padding-left 0.3s ease-in-out;
}

#sidebar.expanded ~ #main-content {
  padding-left: 30px;
}

